langchain
langchain-community
langchain-openai
langchain-huggingface
sentence-transformers
faiss-cpu
fastapi
uvicorn
pydantic
pdfplumber
langchain_core
langchain_text_splitters
langchain_ollama
numpy
scikit-learn
requests
streamlit